.p{
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 2px solid rgb(243, 242 , 242);
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.p-browser{
  height: 25px;
  background-color: rgb(243, 242 , 242);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}
.p-circle{
  width: 9px;
  height: 9px;
  background-color: #FFF;
  margin: 4px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.p-img{
  width: 100%;
  transition: all 10s linear ;
  -webkit-transition: all 10s linear ;
  -moz-transition: all 10s linear ;
  -ms-transition: all 10s linear ;
  -o-transition: all 10s linear ;
}
.p:hover .p-img{
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}
@media screen and (max-width: 480px) {
  .p {
    width: 40%;
    height: 20vh;
  }
}